<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
    <a routerLink="/" class="text-white text-2xl font-bold">Remuneración App</a>
    <div>
      <a routerLink="/workers" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Trabajadores</a>
      <a routerLink="/charges" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium ml-4">Cargos</a>
      <a routerLink="/payments" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium ml-4">Pagos</a> </div>
  </div>
</nav>